.calc-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	margin-top: 80px;
}

.key-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
