.calc-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	margin-top: 80px;
}

.key-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
@media only screen and (max-width: 1060px) {
	.calc-wrapper {
		width: 40%;
	}
}
@media only screen and (max-width: 720px) {
	.calc-wrapper {
		width: 60%;
	}
}
