.header-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: lavender;
}
.side {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.navigation-buttons {
	display: flex;
	flex-direction: row;
}

.hello-title {
	font-weight: bold;
	font-size: 16px;
}
.button {
	background-color: lavender;
	font-size: 17px;
	padding: 4px 10px;
	border-radius: 5px;
	margin: 10px;
	cursor: pointer;
	opacity: 0.5;
	font-family: Montserrat, Roboto, OpenSans;
}
.logout {
	margin: 10px 30px;
	opacity: 1;
	background-color: red;
	color: white;
}
.calculator {
	margin: 10px 30px;
}
.active {
	opacity: 1;
}
@media only screen and (max-width: 660px) {
	.header-wrapper {
		display: block;
	}
	.hello-title {
		font-size: 12px;
	}
	.logout {
		margin: 10px 15px;
	}
	.calculator {
		margin: 10px 20px;
	}
}
